[user]
	email = yagasuha@gmail.com
	name = yagasuha-dotcom
[safe]
	directory = /storage/emulated/0/Download/clintstore
	directory = /storage/emulated/0/Download/clintstore
	directory = /storage/emulated/0/Download
	directory = /data/data/com.termux/files/home/storage/downloads/Football
	directory = /storage/emulated/0/Download/full-stack-game-account-store
